@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.home {
  background: url('https://wallpapercave.com/wp/wp14168878.png') no-repeat center;
  color: #ffffff; /* White text */
  height: 100vh; /* Full viewport height */
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /* overflow: hidden; Prevents scrollbars from appearing during animation */
}

.home-content {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background for text readability */
  padding: 2rem;
  border-radius: 1rem;
}

.home h1 {
  padding-top: 50px;
  font-size: 4rem; /* Increased font size */
  margin-bottom: 1.5rem; /* Increased margin */
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1s ease-out forwards; /* Animations for h1 */
}

.home p {
  font-size: 2rem; /* Increased font size */
  margin-bottom: 3rem; /* Increased margin */
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1.5s ease-out forwards; /* Animations for p */
}

.home button {
  background-color: #1e5220; /* Light purple/pink button */
  color: #ffffff; /* White text */
  border: none;
  padding: 1.5rem 3rem; /* Increased padding */
  font-size: 1.5rem; /* Increased font size */
  border-radius: 0.75rem; /* Increased border radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2.5s ease-out forwards; /* Animations for button */
  margin-bottom: 2rem; /* Add margin-bottom to create space between the button and the footer */
}

.home button:hover {
  background-color: #55725f; /* Slightly darker pink on hover */
}

@media (min-width: 768px) {
  .home-content {
    padding: 4rem;
  }
}

/* Keyframes for animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
