@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.experience {
    padding: 2rem;
    background-color: #eef4ff;
    margin: 2rem 0;
  }
  
  .experience h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .experience p {
    font-size: 1.2rem;
  }
  